 space-dumb {
   display: block;
   height: var(--gap-mid, 10px);
   width: var(--gap-mid, 10px);
   min-height: var(--gap-mid, 10px);
   min-width: var(--gap-mid, 10px);
 }
 space-dumb[min] {
   height: var(--gap-min, 2px);
   width: var(--gap-min, 2px);
   min-height: var(--gap-min, 2px);
   min-width: var(--gap-min, 2px);
 }
 space-dumb[mid] {
   height: var(--gap-mid, 10px);
   width: var(--gap-mid, 10px);
   min-height: var(--gap-mid, 10px);
   min-width: var(--gap-mid, 10px);
 }
 space-dumb[max] {
   height: var(--gap-max, 20px);
   width: var(--gap-max, 20px);
   min-height: var(--gap-max, 20px);
   min-width: var(--gap-max, 20px);
 }
 space-dumb[ui] {
   height: var(--tap-zone-size, 32px);
   width: var(--tap-zone-size, 32px);
   min-height: var(--tap-zone-size, 32px);
   min-width: var(--tap-zone-size, 32px);
 }
 space-dumb[inline] {
   display: inline-block;
 }